.messages {
  display: flex;
  flex-direction: column;

  ul {
    flex: 1;
    overflow-y: auto;
    height: calc(100% - 175px);
  }

  .message-item {
    background: none;
    list-style: none;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin: 15px;
  }

  .other-message,
  .my-message {
    background-color: var(--wrapper-bg);
    color: white;
    display: inline-block;
    padding: 10px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    max-width: 300px;
  }

  .other-message:before,
  .my-message:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 11px solid var(--wrapper-bg);
    border-top: 1px solid var(--wrapper-bg);
    border-bottom: 14px solid var(--content-bg);
  }

  .other-message i.fas.fa-circle {
    position: absolute;
    top: 24px;
    font-size: 5px;
    left: 12px;
  }

  .other-message:before {
    left: 0;
    bottom: 0;
    transform: rotate(11deg);
  }

  .my-message:after {
    right: 0;
    transform: rotate(-37deg);
  }
}

.messages .input-wrapper {
  padding: 8px 13px 8px;

  .input-messages {
    width: 100%;
    height: 20px;
    margin: 0 !important;
  }

  .input-button {
    padding: 12px 12px;
    height: 16px;
    width: 16px;
    margin-left: 7px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transition-duration: 1s;
      transform: rotate(360deg);
    }
  }
}

.message-reply {
  font-size: 12px;
  color: inherit;

  .reply-wrapper {
    padding: 0 10px 5px 0;
    max-width: 200px;

    .to-user {
      font-size: 12px;
    }

    .text-for-replying {
      font-size: 11px;
      line-height: 11px;
      word-wrap: break-word;
      overflow: hidden;
      width: 195px;
      max-height: 25px;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.other-message .reply-wrapper {
  border-left: 2px solid #ffffff21;
  padding: 0 0 5px 10px;
}

.my-message .reply-wrapper {
  border-right: 2px solid #ffffff21;
  padding: 0 10px 5px 0;
}

.reply-to {
  padding: 8px 10px 10px 20px;
  font-size: 13px;
  border-left: 2px solid black;
  margin: 5px;
  background-color: #7b7b7b12;
  position: relative;

  .message-to-reply-content {
    word-wrap: break-word;
    overflow: hidden;
    width: 500px;
    max-height: 25px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 12px;
  }

  .cancel-replying {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 7px;
  }
}

.other-message .message-forward {
  text-align: left !important;
}

.my-message .message-forward {
  text-align: right;
}

.message-forward {
  flex-direction: row-reverse;
}

.forwarded-from {
  font-size: 11px;

  &.deleted {
    color: red;
  }
}

.forwarded-text {
  font-size: 16px;
}

.edited {
  font-size: 10px;
  margin-right: 5px;
  color: gray;
}

.edit-messages-features {
  font-size: 10px;
  color: gray;
  margin-top: 10px;
}

.edit-messages-features span {
  margin-right: 20px;
  cursor: pointer;
}

.edit-messages-features span:first-child {
  margin-left: 20px;
}

.edit-messages-features span:hover {
  color: white;
  transition-duration: 0.5s;
}

.message-data {
  margin-bottom: 15px;
}

.message-data-time {
  margin-left: 5px;
  color: gray;
  font-size: 10px;
  display: inline-block;
}

.message-data-name {
  font-size: 12px;
}

.message-data-my-name {
  font-size: 12px;
}

.message-data-content {
  transition-duration: 2s;
}

@keyframes highlight {
  from {background-color: #ffff004d;}
  to {background-color: #ffffff00;}
}

.highlight {
  background-color: #ffffff00;
  animation-name: highlight;
  animation-duration: 5s;
}
