 .header-info-wrapper.btns {
  div {
    width: 80px;
    font-size: var(--header-in-msgs-name);
    cursor: pointer;
  }
}

.submenu-messages-wrapper {
  height: 0;
  width: 0;
  z-index: -1;

  .submenu-messages {
    height: 0;
    overflow: hidden;
    transition: height 0.2s;

    display: flex;
    flex-direction: column;
  }
}

.submenu-messages-wrapper.active {
  width: 100%;
  height: 100%;

  position: fixed;
  z-index: 1;

  display: flex;
  background-color: var(--popup-wrapper-bg);
  justify-content: flex-start;

  .submenu-messages {
    height: 185px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 15px;
    background-color: var(--menus-msgs);
    overflow: visible;
    cursor: pointer;
    position: fixed;
    z-index: 1;
  }
}

.submenu-messages-item {
  height: 100%;
  padding: 0 30px 0 20px;
  box-shadow: inset 0 -1px var(--gray-txt);
  cursor: pointer;

  display: flex;
  align-items: center;

  span {
    font-size: 22px;
  }

  i {
    font-size: 19px;
    margin-right: 15px;
    color: var(--gray-txt);
  }

  &:last-child {
    box-shadow: none;
  }
}

.messages {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  ul {
    height: calc(100% - 175px);
    flex: 1;

    overflow-y: scroll;
    --webkit-overflow-scrolling: touch;
  }

  .message-item {
    margin: 15px;
    background: none;
    list-style: none;
    font: 14px/22px "Lato", Arial, sans-serif;
    position: relative;

    .select {
      display: inline-block;
      margin: 0 10px;

      i {
        display: inline-block;

        &.fas {
          display: none;
        }
      }
    }

    &.selected {
      .select {
        .fas {
          display: inline-block;
        }

        .far {
          display: none;
        }
      }
    }
  }

  .other-message,
  .my-message {
    color: var(--base-txt-color);
    display: inline-block;
    padding: 10px 20px;
    line-height: 26px;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    max-width: 350px;
  }

  .my-message {
    padding: 10px;
    padding-left: 20px;
    background-color: var(--my-message-bg);

    .message-data {
      text-align: left;
    }

    .message-forward {
      display: inline-block;
      text-align: right;
    }

    &:after {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-right: 8px solid var(--content-bg);
      border-left: 5px solid var(--my-message-bg);
      border-top: 11px solid var(--my-message-bg);
      right: 0;
      bottom: 0;
      transform: rotate(62deg);
    }
  }

  .other-message {
    background-color: var(--other-message-bg);
    .message-forward {
      text-align: left !important;
    }

    .message-data-time {
      margin-left: 10px;
    }

    i.fas.fa-circle {
      position: absolute;
      top: 24px;
      font-size: 5px;
      left: 12px;
    }

    &:before {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 10px solid var(--other-message-bg);
      border-top: 12px solid var(--other-message-bg);
      border-bottom: 8px solid var(--content-bg);
      left: 0;
      bottom: 0;
      transform: rotate(25deg);
    }
  }
}

.message-data {
  display: block;

  .message-data-content {
    display: inline-block;
    text-align: left;
    font-size: var(--msg-content);
    transition-duration: 2s;
    white-space: pre-wrap;
    word-break: break-word;
  }

  .data-wrapper {
    display: inline-block;
    float: right;
    white-space: nowrap;
    color: #d9d4d4;

    .edited {
      font-size: 11px;
      margin: 0 5px;
      color: #c5c5c5;
    }

    .message-data-time {
      font-size: var(--msg-time);
      display: inline-block;
      color: var(--base-txt-color);
    }

    .seen i {
      margin-left: 5px;
      font-size: var(--icon-size);
      color: var(--gray-txt);
    }
  }
}

.user-is-typing {
  margin-left: 15px;
  color: #b3b3b3;

  i {
    margin-right: 5px;
    font-size: 10px;
  }

  span {
    font-size: 12px;
  }
}

.messages .input-wrapper {
  padding: 10px 15px;

  display: flex;
  align-items: stretch;

  .input-messages {
    width: 100%;
    margin: 0 !important;
    padding: 10px;
    padding-left: 15px;
    border: none;
    border-radius: 55px;
    background-color: var(--input-bg);
    color: var(--input-txt-color);
    outline: none;
    position: relative;
    font-size: var(--input-msgs-txt);
  }

  .input-button {
    height: var(--btn-send-msg-size);
    width: var(--btn-send-msg-size);
    margin-left: 7px;
    background: var(--input-bg);
    border-radius: var(--btn-send-msg-size);
    cursor: pointer;
    font-size: var(--input-msgs-txt);

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.message-reply {
  font-size: var(--icon-size);
  text-align: left;

  .reply-wrapper {
    padding: 0 0 5px 10px;
    border-left: 2px solid var(--gray-txt);
    max-width: 200px;

    .to-user {
      color: var(--gray-txt);

      span:last-child {
        font-weight: bold;
      }
    }

    .text-for-replying {
      line-height: 16px;
      word-wrap: break-word;
      overflow: hidden;
      max-width: 200px;
      max-height: 35px;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.reply-to {
  padding: 5px 10px 10px;
  background-color: var(--input-bg);

  .message-to-reply-content {
    word-wrap: break-word;
    overflow: hidden;
    max-width: 90%;
    max-height: 35px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: var(--msg-to-reply-txt);
  }

  .cancel-wrapper {
    margin-bottom: 5px;

    display: flex;
    justify-content: space-between;

    div {
      i {
        color: var(--gray-txt);
        font-size: var(--msg-to-reply-txt);
      }

      span {
        font-size: var(--msg-to-reply-txt);
        font-weight: bold;
        color: var(--gray-txt);
        margin-left: 7px;
      }
    }

    .cancel-replying {
      font-size: var(--input-cancel-replying);
      cursor: pointer;
      color: red;
    }
  }
}

.message-forward {
  flex-direction: row-reverse;
}

.deleted {
  color: #ffaaaa;
}

.forwarded-from {
  font-size: 11px;
}

.forwarded-text {
  font-size: 16px;
}

.edit-messages-features {
  height: 200px;
  width: 50%;
  background: var(--menus-msgs);
  color: var(--base-txt-color);
  border-radius: 18px;

  position: absolute;
  z-index: 2;
  right: 0;
  top: 120%;

  display: flex;
  flex-direction: column;

  div {
    height: 100%;
    padding: 0 25px 0 20px;
    cursor: pointer;
    box-shadow: inset 0 -1px #adadad;

    display: flex;
    align-items: center;

    span {
      margin-left: 15px;
      font-size: 18px;
    }

    i {
      color: var(--gray-txt);
      font-size: 17px;
    }

    &:last-child {
      box-shadow: none;
    }
  }
}

.input-fixed {
  position: sticky;
  width: 100%;
}

@keyframes highlight {
  from {background-color: #ffff004d;}
  to {background-color: #ffffff00;}
}

.highlight {
  background-color: #ffffff00;
  animation-name: highlight;
  animation-duration: 5s;
}

@keyframes marked {
  from {background: #ffffff0a;}
  to {background-color: none;}
}

.marked {
  background-color: #ffffff0a;
  animation-name: marked;
  animation-duration: 5s;
}
