.card.input-reply {
  background-color: inherit;
  box-shadow: none;
  border-radius: 0;

  .card-content {
    padding: 0.5rem 1rem;
    border-radius: 0;
    color: white;
    font-size: 1.15rem;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      color: white;

      &.card-header-icon {
        padding: 0.5rem;

        i {
          color: red;
        }
      }

      i {
        padding: 0 0.5rem;
      }
    }
  }
}

.buttons.options-selected-messages {
  display: flex;

  button.button {
    margin-bottom: 0.5rem;
    background: none;
    color: white;
    border: none;
    flex: 1;
    font-size: 1.1rem;
    margin: 0 !important;
    border-radius: 0;

    span {
      margin-left: 1rem;
      font-weight: bold;
    }
  }
}

.buttons.has-addons {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  width: 40%;

  .button {
    height: 2.4rem;
    margin: 0;
    font-size: 1rem !important;
    width: 100%;
    justify-content: flex-start;

    &:first-child {
      border-radius: 0;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
    }

    &:last-child {
      border-radius: 0;
      border-bottom-right-radius: 1em;
      border-bottom-left-radius: 1em;
    }
  }
}

.messages {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  ul {
    height: calc(100% - 175px);
    flex: 1;
    padding: 10px;

    overflow-y: scroll;
    --webkit-overflow-scrolling: touch;

    li .block:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

.user-is-typing {
  margin-left: 15px;
  color: #b3b3b3;

  i {
    margin-right: 5px;
    font-size: 10px;
  }

  span {
    font-size: 12px;
  }
}
.card.input-reply-header {
  width: 100%;
  position: fixed;
  bottom: 105px;
}

.input-fixed {
  position: sticky;
  width: 100%;

  .field {
    display: flex;
    flex-direction: row;
    align-items: center;

    .control {
      margin: 10px 10px 0;
      padding: 0;
      display: flex;
      align-items: stretch;
      width: 100%;

      .input {
        outline: none;
        border: none;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
      }

      button.input-button {
        margin: 0;
        width: 4rem;
        border: none;
        border-radius: 0;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
      }
    }
  }
}

.deleted {
  color: #ffaaaa;
  font-size: 1.1rem;
}

@keyframes highlight {
  from {background-color: #ffff004d;}
  to {background-color: #ffffff00;}
}

.highlight {
  background-color: #ffffff00;
  animation-name: highlight;
  animation-duration: 5s;
}

@keyframes marked {
  from {background: #ffffff0a;}
  to {background-color: none;}
}

.marked {
  background-color: #ffffff0a;
  animation-name: marked;
  animation-duration: 5s;
}
