.purple .content.authentication {
  background-color: #86466d;
}

.purple .authentication input {
  background-color: #542944;
}

.purple .authentication button {
  background-color: #502b42;
}

.purple .log-in-button {
  background-color: #502b42;
}

.purple .content.registration .sign-up-avatar {
  background: none;
}
