.contact-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .contact-info-header {
    height: 50px;
    background-color: var(--base-bg);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn-back {
      padding: 10px;
      font-size: 19px;
      cursor: pointer;
    }

    .contact-name {
      font-weight: bold;

      display: flex;
      align-items: center;
      flex-direction: column;

      span {
        font-size: 20px;
      }

      .user-status {
        font-size: 12px;
        color: gray;
        padding: 0 0 5px;
      }
    }
  }

  .info-wrapper {
    padding: 10px;
    background-color: var(--wrapper-bg);

    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      position: relative;

      .user-avatar-image {
        height: 200px;
        width: 200px;
        margin: 10px;
        border-radius: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 135%;
      }
    }

    .user-login {
      font-size: 16px;
      color: gray;
    }
  }

  .buttons-contact-info {
    display: flex;
    flex-direction: column;

    .btn-c-info {
      margin: 10px 0;
      padding: 15px;
      background-color: var(--wrapper-bg);
      cursor: pointer;

      display: flex;
      justify-content: center;

      &:hover {
        transition-duration: 1.2s;
        background-color: rgba(255,255,255,0.1);
      }
    }
  }
}
