.edit-profile.content {
  font-size: 14px;
}

.edit-profile .change-name .name-input {
  padding: 5px 15px;
  margin-left: 15px;
}

 .edit-profile  h4 {
  margin-left: 15px;
}

.edit-profile .change-avatar input {
  border: none;
  margin-left: 5px;
  background: none;
}

.change-avatar > div > button {
  margin-bottom: 3px;
}

.edit-profile button {
  padding: 4px;
  margin-left: 5px;
  color: white;
}

.edit-profile .remove-avatar,
.edit-profile div p button {
  padding: 4px;
  margin-left: 15px;
  margin-bottom: 15px;
  color: white;
}

.change-name,
.change-avatar {
  padding-bottom: 15px;
}
