.edit-profile {
  font-size: 14px;

  .name-input {
    padding: 5px 15px;
    margin-left: 15px;
  }

  h4 {
    margin-left: 15px;
  }

  button {
    padding: 4px;
    margin-left: 5px;
    color: white;

    &.remove-avatar {
      margin-left: 15px;
      margin-bottom: 15px;
    }

    &.submit-avatar {
      display: block;
      margin: 15px 0 0 15px;
    }
  }

  .change-name,
  .change-avatar {
    padding-bottom: 15px;
  }
}
