.delete-account-wrapper,
.change-login-wrapper,
.change-password-wrapper,
.show-status-wrapper {
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f126;
}

.privacy-and-security button {
  padding: 4px;
  color: white;
}

.privacy-and-security label {
  font-size: 13px;
  display: block;
}

.privacy-and-security input {
  margin: 8px;
  padding: 6px;
  border-radius: 20px;
}

.privacy-and-security .show-status-wrapper input#checkbox {
  margin-left: 9px;
  margin-right: 9px;
}

input#checkbox {
  cursor: pointer;
}

.privacy-and-security input#checkbox {
  margin: 0;
}

.privacy-and-security form {
  text-align: left;
}

.privacy-and-security .button-confirm {
  display: inline-block;
  padding: 3px;
  margin: 10px 0 15px 0;
  cursor: pointer;
}

.change-login-wrapper .input-login {
  margin-left: 0;
  margin-top: 0;
}

.privacy-and-security div {
  margin: 16px;
}

.delete-account-wrapper span {
  font-size: 16px;
}

.privacy-and-security .delete-account-wrapper .button-delete-account {
  font-size: 14px;
  display: inline-block;
  background-color: #3e8e88b5;
  cursor: pointer;
  margin: 0;
  margin-left: 8px;
  text-align: center;
}

.privacy-and-security .delete-account-wrapper .button-delete-account:hover {
  background-color: red;
  box-shadow: 10px 5px 5px black;
  transition-duration: 2s;
}

.privacy-and-security div.pop-up {
  margin: 0;
  padding: 3px;
}

.privacy-and-security .pop-up button {
  color: white;
  padding: 3px 15px;
  margin: 5px;
  cursor: pointer;
}
