.container.contact-info {
  section.info-wrapper {
    background-color: var(--wrapper-bg);
    // padding: 0;
    // padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    .block.user-login {
      padding: 10px;
      font-size: 1.4rem;
      color: var(--gray-txt);
    }
  }

  .section:nth-child(2) {
    padding: 0;

    .button {
      margin-top: 0.5rem;
      color: white;
      font-size: 20px;
      border: none;
      width: 100%;
      background-color: var(--wrapper-bg);
      cursor: pointer;

      display: flex;
      justify-content: center;
    }
  }
}
