.aqua .messages .search-wrapper {
  background-color: #1d3f3e;
}

.aqua .messages .search-wrapper input.search {
  background-color: #1d3f3e;
}

.aqua .chats .search-wrapper {
  background-color: #1d3f3e;
}

.aqua .chats .search-wrapper .search {
  background-color: #1d3f3e;
}
