.messages .search-wrapper {
  padding: 2px;
  padding-left: 20px;
  margin: 5px;
  border-radius: 25px;
  width: 50%;
}

.messages .search-wrapper input.search {
  border: none;
  color: white;
  padding: 2px;
  margin: 2px;
}

.chats .search-wrapper {
  padding: 2px;
  padding-left: 20px;
}

.chats .search-wrapper .search {
  margin: 2px;
  padding: 8px;
  color: white;
}

.search-wrapper .fas {
  font-size: 13px;
  margin-right: 10px;
}

span.show-password {
  font-size: 11px;
  margin-left: 7px;
}

.show-status-wrapper input#checkbox {
  margin: 7px;
}

div.checkbox-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
