.purple .messages .search-wrapper {
  background-color: #633350;
}

.purple .messages .search-wrapper input.search {
  background-color: #633350;
}

.purple .chats .search-wrapper {
  background-color: #633350;
}
