.search-wrapper {
  padding: 0.7rem 1rem;

  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;

  display: flex;
  align-items: center;
  align-content: center;

  div:first-child {
    flex: 1;

    display: flex;
    align-items: center;

    .fas {
      font-size: 15px;
      margin-right: 5px;
    }

    input {
      width: 100%;
      border: none;
      font-size: 1rem;
      color: white;

      &:focus, &:active {
        box-shadow: none;
      }
    }
  }

  .cancel-searching {
    margin-left: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

input[type="checkbox"] {
  width: var(--input-txt);
  height: var(--input-txt);
  padding: 0;
  margin: 0;
}

div.checkbox-wrapper {
  margin: 0;
  padding: 10px 0;

  display: flex;
  align-items: center;
}

  .show-password {
    font-size: var(--checkbox-label-txt);
    margin-left: 7px;
  }


.show-status-wrapper input#checkbox {
  margin: 7px;
}
