.container.settings {
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    &.wrapper {
      padding: 1rem;
    }

    .block {
      text-align: center;

      .name {
        font-weight: bold;
        font-size: 1.4rem;
      }

      .login {
        font-size: 1rem;
      }
    }
  }
}

.settings .dropdown.privacy-and-security .dropdown-item {
  padding: 1rem;
}

.settings-dropdowns {
  .dropdown.is-active {
    display: block;

    .dropdown-menu {
      position: relative;
      z-index: 0;
    }
  }
}

.dropdown {
  width: 100%;
  margin-top: 0.5rem;

  .dropdown-trigger {
    width: 100%;

    .button {
      background: none;
      width: 100%;
      border: none;
      font-size: 1.2rem;

      &:focus:not(:active) {
        box-shadow: none;
      }
    }
  }

  .dropdown-menu {
    width: 100%;
    padding-top: 1px;

    .dropdown-content {
      border-radius: 0;

      .dropdown-item {
        color: white;
        font-size: 1.1rem;
        text-align: center;
      }
    }
  }

  &.themes {
    .dropdown-item {
      padding: 0;

      div {
        padding: 0.3rem;
      }
    }
  }
}
