.chats {
  li {
    margin-bottom: 5px;
    padding: 15px;

    display: flex;

    .delete {
      display: none;
    }

    &:hover .delete {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
    }

    .img-wrapper {
      height: 50px;
      width: 50px;
      display: inline-block;
      position: relative;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50px;
      }

      .fas.fa-circle {
        padding: 0;
        font-size: 9px;
        position: absolute;
        z-index: 1;
        bottom: 3px;
        left: 6px;
      }
    }
  }
}

.chat-data {
  flex: 0.9;

  .data {
    display: flex;
    margin: 0 20px 0 10px;
  }

  .text {
    max-height: 25px;
    margin: 5px 35px 5px 5px;
    padding: 5px;
    font-size: 12px;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .name {
    font-size: 14px;
    font-weight: bold;
    flex: 1;
  }

  .time {
    font-size: 10px;
  }
}

.found-messages > div {
  padding: 10px;
  font-size: 14px;
}
