.container.chats {
  li .chat-data {
    margin-left: 12px;
    flex: 0.95;

    & > div {
      padding-bottom: 5px;
    }

    .data {
      display: flex;
    }

    .text {
      max-height: 30px;
      max-width: 85%;
      word-wrap: break-word;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      div {
        font-size: 1rem;
      }
    }

    .name {
      font-size: 1.1rem;
      font-weight: bold;
      flex: 1;

      display: flex;
      align-items: center;

      .fas.fa-circle {
        margin-left: 5px;
        font-size: 0.5rem;
      }

      .number-of-unseen-msgs {
        margin-left: 10px;
        padding: 2px;
      }
    }

    .time {
      font-size: 0.8rem;
    }
  }
}

.found-messages-chats {
  .found-messages-headline {
    text-align: center;
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
  }
}
