.container.chats {
  li .chat-data {
    margin-left: 12px;
    flex: 0.95;

    .data {
      display: flex;
    }

    .text {
      display: flex;
      justify-content: space-between;

      div {
        font-size: 1rem;
        word-wrap: break-word;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        max-width: 80%;
      }

      .number-of-unseen-msgs {
        width: 1.7rem;
        height: 1.7rem;
        border-radius: 1.7rem;
        font-size: 0.8rem;
        background: #64d2b1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .name {
      font-size: 1.1rem;
      font-weight: bold;
      flex: 1;

      display: flex;

      .fas.fa-circle {
        margin-left: 5px;
        font-size: 0.5rem;
      }

      .number-of-unseen-msgs {
        margin-left: 10px;
        padding: 2px;
      }
    }

    .time {
      font-size: 0.8rem;
    }
  }
}

.found-messages-chats {
  .found-messages-headline {
    text-align: center;
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
  }
}
