.aqua .theme-menu {
  background-color: #3a4042;
}

.aqua .theme-menu li {
  background-color: #1b3332;
  border-bottom: 1px solid #b9acac;
}


.aqua .theme-menu li:hover {
  color: #93ffd8;
}

.aqua .theme-menu li:first-child {
  border-top: 1px solid #b9acac;
}
