.aqua .user-info-wrapper {
  background-color: #3e8e885c;
}

.aqua .user-status.offline {
  color: #bfbfbf;
}

.aqua .user-status.online {
  color: #51ff51;
}

.aqua .user-login {
  font-size: 12px;
  color: #bfbfbf;
}

.aqua .chat-with-user {
  background-color: #3e8e885c;
}

.aqua .chat-with-user:hover {
  background-color: #68dede80 !important;
}
