.user-info {
  text-align: center;
}

.user-info-wrapper {
  padding: 15px;
}

.user-info-wrapper div {
  padding: 2px;
}

.user-avatar-image {
  border-radius: 83px;
  width: 150px;
  height: 150px;
  margin: 10px;
}

.user-status {
  font-size: 12px;
}

.user-name {
  font-size: 20px;
  font-weight: bolder;
}

.chat-with-user {
  padding: 16px;
  border-radius: 35px;
  cursor: pointer;
  width: 115px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}

.chat-with-user:hover {
  transition-duration: 1.2s;
}
