.dropdown.is-active .dropdown-trigger {
  background: #34353c;
}

.dropdown {
  width: 100%;
  margin-top: 20px;

  .dropdown-trigger {
    width: 100%;
    background: var(--wrapper-bg);

    .button {
      background: none;
      width: 100%;
      border: none;
      color: white;
      font-size: 20px;

      &:focus:not(:active) {
        box-shadow: none;
      }
    }
  }

  .dropdown-menu {
    width: 100%;
    background-color: var(--content-bg);
    padding-top: 1px;

    .dropdown-content {
      background: var(--wrapper-bg);
      border-radius: 0;

      .dropdown-item {
        color: white;
        font-size: 18px;
        text-align: center;
      }

      .dropdown-divider {
        background: var(--content-bg);
      }
    }
  }
}
