.navbar.header {
  width: 100%;
  height: 3.25rem;
  position: fixed;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  .navbar-item.page-title.user-info {
    flex-direction: column;
    padding: 3px;
    line-height: normal;

    div {
      &:first-child {
        font-size: 1.2rem;
      }

      &:last-child {
        font-size: 0.9rem;
      }
    }
  }

  a.navbar-item {
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    &.back {
      justify-content: flex-start;
      padding-left: 10px;

      span {
        margin-left: 10px;
        font-size: 16px;
      }
    }

    &.search {
      justify-content: flex-end;
      padding: 1rem;
    }

    .dropdown-trigger {
      display: flex;
      justify-content: flex-end;
      background: none;

      .button {
        justify-content: flex-end;
      }
    }
  }
}

.navbar-item {
  .dropdown.navbar-dropdown {
    margin: 0;
    padding: 0;

    .dropdown-trigger {
      button.button {
        border: none;
        border-radius: 0;

        span div.user-avatar-small {
          height: 2.5rem;
          width: 2.5rem;
          background-size: 100%;
          background-repeat: no-repeat;
          border-radius: 2.5rem;
        }
      }
    }

    .dropdown-menu {
    margin-right: 5px;
    margin-top: 5px;
    min-width: 11rem;

      .dropdown-content {
        border-radius: 5px;
        padding: 0;

        .dropdown-item {
          padding: 0;
          text-align: left;

          div {
            padding: 0.75rem;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

// .navbar.messages-nav {
//   .navbar-item {
//     height: 100%;
//
//     &.back {
//       display: flex;
//       align-items: center;
//       justify-content: flex-start;
//
//       span {
//         padding: 10px;
//       }
//     }
//
//     &.user-name {
//       flex-direction: column;
//       align-items: center;
//
//       span:first-child {
//         color: white;
//       }
//
//       span:nth-child {
//         color: gray;
//       }
//     }
//
//     &.avatar-in-msgs {
//       padding: 0;
//       display: flex;
//       align-items: center;
//       justify-content: flex-end;
//
//       .dropdown {
//         background: none;
//         width: 45px;
//         margin: 0;
//
//         .dropdown-menu {
//           background: #09ad94f5;
//           border-top-left-radius: 35px;
//           border-bottom-right-radius: 35px;
//           margin-right: 5px;
//           margin-top: 2px;
//         }
//
//         .dropdown-trigger {
//           background: none;
//         }
//
//         .user-avatar-small {
//           height: 45px;
//           width: 45px;
//           border-radius: 45px;
//           background-size: contain;
//         }
//
//         .dropdown-content {
//           background: none;
//         }
//
//         .dropdown-item {
//           display: flex;
//           align-items: center;
//           box-shadow: inset 0px -1px 1px #1e1f25;
//
//           &:last-child {
//             box-shadow: none;
//           }
//         }
//       }
//     }
//   }
// }
