.header {
  padding: 20px;
  font-size: 20px;
  font-weight: 900;

  display: flex;
  text-align: center;
  justify-content: space-between;

  button {
    padding: 2px 10px;
    background-color: inherit;
    border: none;
    font-size: 17px;
    cursor: pointer;
  }

  .title {
    flex: 1;

    &.contacts {
      margin-left: 35px;
    }
  }
}
