.navbar {
  background: var(--content-bg);
  display: flex;
  align-items: center;

  a.navbar-item.search {
    display: flex;
    justify-content: flex-start;
  }

}


// .header {
//   width: 100%;
//   position: fixed;
//   z-index: 1;
// }
//
// .header-info-wrapper {
//   height: var(--header-footer-height);
//   line-height: var(--header-footer-height);
//   width: 100%;
//   font-size: var(--header-txt);
//   font-weight: 900;
//   background: var(--base-bg);
//   position: fixed;
//   top: 0;
//   z-index: 1;
//
//   display: flex;
//   text-align: center;
//   justify-content: space-between;
//   align-items: center;
//
//   .forwarded-messages-amount {
//     font-size: 14px;
//     color: var(--gray-txt);
//   }
//
//   button {
//     width: var(--header-footer-height);
//     background-color: inherit;
//     border: none;
//     font-size: var(--header-btn);
//     cursor: pointer;
//
//     &.btn-back {
//       height: 100%;
//       width: var(--header-footer-height);
//       font-size: var(--btn-back-size);
//       cursor: pointer;
//
//       display: flex;
//       align-items: center;
//       justify-content: center;
//     }
//   }
//
//   &.in-messages {
//     padding: 0 5px;
//     line-height: 18px;
//   }
//
//   .msg-menu-button {
//     height: 100%;
//     width: var(--header-in-msgs-avatar);
//     display: block;
//     padding-left: 15px;
//     float: left;
//     text-align: start;
//   }
//
//   .title {
//     flex: 1;
//   }
//
//   .user-data-header {
//     display: flex;
//     flex-direction: column;
//
//     span {
//       font-size: var(--header-in-msgs-name);
//
//       &.status {
//         color: var(--gray-txt);
//         font-size: var(--header-in-msgs-status);
//       }
//     }
//   }
//
//   .user-avatar-small {
//     height: var(--header-in-msgs-avatar);
//     width: var(--header-in-msgs-avatar);
//     border-radius: var(--header-in-msgs-avatar);
//     cursor: pointer;
//     margin-right: 10px;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 135%;
//   }
// }
