.navbar.header {
  width: 100%;
  height: 3.25rem;
  position: fixed;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-item {
    font-size: 1.1rem;
    padding: 0 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &.number-of-selected-messages {
      font-size: 1rem;
    }

    &.search,
    &.save-profile {
      justify-content: flex-end;
    }

    &.back,
    &.cancel-profile-changes {
      justify-content: flex-start;

      span {
        margin-left: 0.4rem;
      }
    }
  }

  .navbar-item.page-title.user-info {
    flex-direction: column;
    padding: 0.2rem;
    line-height: normal;

    div {
      &:first-child {
        font-size: 1.2rem;
      }

      &:last-child {
        font-size: 0.9rem;
      }
    }
  }

  .navbar-item.dropdown-menu-settings,
  .navbar-item.avatar-in-msgs {
    padding: 0;
  }
}

.navbar-item {
  .dropdown.navbar-dropdown {
    margin: 0;
    padding: 0;

    .dropdown-trigger {
      button.button {
        justify-content: flex-end;
        border: none;
        border-radius: 0;

        span div.user-avatar-small {
          height: 2.5rem;
          width: 2.5rem;
          background-size: 100%;
          background-repeat: no-repeat;
          border-radius: 2.5rem;
        }
      }
    }

    .dropdown-menu {
    margin-right: 5px;
    margin-top: 5px;
    min-width: 11rem;

      .dropdown-content {
        border-radius: 5px;
        padding: 0;

        .dropdown-item {
          padding: 0;
          text-align: left;

          div {
            padding: 0.75rem;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
