.contact-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding: 0 0 60px;
  margin: 0 !important;

  .contact-info-header {
    height: var(--header-footer-height);
    background-color: var(--base-bg);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn-back {
      height: 100%;
      width: var(--header-footer-height);
      font-size: var(--btn-back-size);
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .contact-name {
      font-weight: bold;

      display: flex;
      align-items: center;
      flex-direction: column;

      span {
        font-size: var(--header-in-msgs-name);
      }

      .user-status {
        font-size: var(--header-in-msgs-status);
        color: var(--gray-txt);
        padding: 0 0 5px;
      }
    }
  }

  .info-wrapper {
    padding: 10px;
    background-color: var(--wrapper-bg);

    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      position: relative;

      .user-avatar-image {
        height: 200px;
        width: 200px;
        margin: 10px;
        border-radius: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 135%;
      }
    }

    .user-login {
      padding: 10px;
      font-size: var(--profile-login);
      color: var(--gray-txt);
    }
  }

  .buttons-contact-info {
    display: flex;
    flex-direction: column;

    .btn-c-info {
      margin: 10px 0;
      padding: 17px;
      font-size: var(--profile-li-option);
      background-color: var(--wrapper-bg);
      cursor: pointer;

      display: flex;
      justify-content: center;
    }
  }
}
