.navbar.footer-nav {
  background: var(--content-bg);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .navbar-item {
    .icon i {
      font-size: 20px;
    }

    .number-of-unseen-messages {
      position: absolute;
      top: 5%;
      right: 25%;
    }
  }
}
