.navbar.footer {
  position: fixed;
  z-index: 1;
  padding: 0;
  display: flex;
  align-items: center;

  .navbar-item {
    height: 100%;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      height: 100%;
      width: 5rem;
      position: relative;

      i {
        font-size: 1.5rem;
      }

      .number-of-unseen-messages {
        position: absolute;
        top: 10%;
        right: 5%;
        background: red;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 1.2rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
      }
    }
  }
}
