.search-wrapper {
  height: var(--header-footer-height);
  background-color: var(--base-bg);

  position: fixed;
  width: 100%;
  top: 0;

  display: flex;
  align-items: center;
  align-content: center;

  div:first-child {
    margin-left: 13px;
    flex: 1;

    display: flex;
    align-items: center;

    .fas {
      font-size: 15px;
      margin-right: 5px;
      color: var(--gray-txt);
    }

    input {
      width: 100%;
      background-color: var(--base-bg);
      border: none;
      font-size: var(--input-txt);
    }
  }

  .cancel-searching {
    height: var(--header-footer-height);
    margin-right: 10px;
    font-size: var(--header-btn);
    font-weight: bold;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

input[type="checkbox"] {
  width: var(--input-txt);
  height: var(--input-txt);
  padding: 0;
  margin: 0;
}

div.checkbox-wrapper {
  margin: 0;
  padding: 10px 0;

  display: flex;
  align-items: center;
}

  .show-password {
    font-size: var(--checkbox-label-txt);
    margin-left: 7px;
  }


.show-status-wrapper input#checkbox {
  margin: 7px;
}
