.aqua .settings .my-info {
  border-bottom: 1px solid #fdfdfd40;
  background-color: #1b3332;
}

.aqua .settings .my-info .my-login {
  color: #bdbdbd;
}

.aqua .features > li:hover {
  color: #93ffd8;
}

.aqua .features > li {
  border-bottom: 1px solid #fdfdfd40;
  background-color: #1b3332;
}

.aqua .features li:first-child {
  border-top: 1px solid #fdfdfd40;
}
