.purple .theme-menu li {
  background-color: #401c32;
  border-bottom: 1px solid gray;
}

.purple .theme-menu li:hover {
  color: green;
}

.purple .theme-menu li:first-child {
  border-top: 1px solid gray;
}
