:root {
//   --main-content-txt-size:
  --content-btn: 20px;

  --li-height: 85px;
  --li-avatar-size: 60px;
  --li-name: 17px;
  --msg-time-chats: 12px;
  --msg-preview-txt: 15px;
  --li-status-txt: 14px;

  --header-footer-height: 60px;
  --header-btn: 17px;
  --header-txt: 20px;
  --footer-btn: 19px;

  --icon-size: 15px;
  --btn-back-size: 23px;

  --popup-content: 19px;
  --popup-btn: 17px;

  --auth-reg-headline: 20px;

  --input-padding: 10px 10px 10px 20px;
  --input-txt: 18px;
  --checkbox-label-txt: 18px;


  --header-in-msgs-name: 19px;
  --header-in-msgs-status: 15px;
  --header-in-msgs-avatar: 45px;
  --submenu-item-txt: 18px;
  --msg-content: 19px;
  --msg-time: 13px;
  --msg-to-reply-txt: 15px;
  --btn-send-msg-size: 55px;
  --input-msgs-txt: 18px;
  --input-cancel-replying: 19px;

  --profile-login: 20px;
  --profile-li-option: 19px;

  --settings-name: var(--profile-login);
  --settings-login: 17px;
  --settings-btn: 17px;

  --settings-menu-name: 20px;
  --settings-menu-item: 19px;
  --settings-menu-submenu-item: 18px;
}
