html, body, #app, .chat {
  margin: 0;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.content {
  flex: 1;
  overflow: auto;
}

.theme {
  &.purple {
    background-color: #1f0916;
  }

  &.aqua {
    background-color: #306d67;;
  }
}

.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input:focus-visible {
  outline: none;
}

input {
  border: none;
  color: white;
  padding: 10px;
  border-radius: 20px;
  position: relative;
}

.aqua input {
  background-color: #1d3f3e;
}

.purple input {
  background-color: #633350;
}


form {
  text-align: center;
}

 form p input {
  padding: 4px 15px 4px 3px;
}

form button {
  padding: 5px 20px;
}

form div {
  font-size: 13px;
  margin: 10px;
}

form button:last-child {
  padding: 5px 16px;
}

input#checkbox {
  cursor: pointer;
}

.fas.fa-circle.online {
  color: #6cad6c;
}

.fas.fa-circle.offline {
  color: #ce5e5e;
}

 /* scrollbar styles  */

 *::-webkit-scrollbar {
   width: 7px;
   height: 7px;
 }

 .aqua *::-webkit-scrollbar-thumb {
   background-color: #188484bf;
 }

 .purple *::-webkit-scrollbar-thumb {
   background-color: #633350;
 }
