@import url('https://fonts.googleapis.com/css?family=Lato');

:root{
  --base-bg: #060606;
  --base-txt-color: #fff;
  --content-bg: #1e1f25;
  --button-bg: var(--base-bg);
  --button-txt-color: var(--base-txt-color);
  --input-txt-color: white;
  --input-bg: #444444;
  --input-search-bg: #504f4f;
  --search-wrapper-bg: var(--input-search-bg);
  --wrapper-bg: #121317;
  --scrollbar-bg: #3b3b3b;
  --scrollbar-thumb-bg: #666666;
  --my-message-bg: #383942;
  --other-message-bg: #525252;
}

// :root{
//   --base-bg: #19403e;
//   --base-txt-color: #fff;
//   --content-bg: #0d0d0d;
//   --button-bg: var(--base-bg);
//   --button-txt-color: var(--base-txt-color);
//   --input-txt-color: white;
//   --input-bg: #444444;
//   --input-search-bg: #504f4f;
//   --search-wrapper-bg: var(--input-search-bg);
//   --wrapper-bg: #3f5a58;
//   --scrollbar-bg: #3b3b3b;
//   --scrollbar-thumb-bg: #666666;
//   --my-message-bg: #3e3e3e;
//   --other-message-bg: #070708;
// }

.chat.purple {
  --base-bg: #4c203b;
  --base-txt-color: #fff;
  --content-bg: #251124;
  --button-bg: var(--base-bg);
  --button-txt-color: var(--base-txt-color);
  --input-txt-color: #fff;
  --input-bg: #633350;
  --input-search-bg: #633350;
  --search-wrapper-bg: var(--input-search-bg);
  --wrapper-bg: #632b4c;
  --scrollbar-bg: #6d3958;
  --scrollbar-thumb-bg: #441632;
}

.chat.banana {
  --base-bg: #b7ad37;
  --base-txt-color: #fff;
  --content-bg: #7b7821;
  --wrapper-bg: #54520d;
  --input-bg: var(--base-bg);
  --input-txt-color: black;
  --button-bg: #5f5a27;
  --button-txt-color: #fff;
  --input-search-bg: #948f00;
  --search-wrapper-bg: var(--input-search-bg);
  --scrollbar-bg: #8e8734;
  --scrollbar-thumb-bg: #c1b630;
}

html, body, #app, .chat {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: var(--base-bg);
}

.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  color: var(--base-txt-color);
}

.header, .footer {
  background-color: var(--base-bg);
}

.content {
  background-color: var(--content-bg);
  flex: 1;
  overflow: auto;
}

button {
  background-color: var(--button-bg);
  color: var(--button-txt-color);
  font-family: inherit !important;
}

input {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: var(--input-bg);
  color: var(--input-txt-color);
  outline: none;
  position: relative;

  #checkbox {
    cursor: pointer;
  }
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  cursor: pointer;

  label {
    font-size: 14px;
    font-weight: 700;
    color: var(--button-txt-color);
    background-color: var(--button-bg);
    display: inline-block;
    cursor: pointer;
  }
}

#file + label {
  cursor: pointer;
  padding: 3px;
  font-size: 14px;
  margin-left: 15px;
  border-width: 2px;
  border-style: outset;
  border-color: gray black black gray;
  border-image: initial;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  background-color: var(--wrapper-bg);

  &:hover {
    background-color: rgba(255,255,255,0.1);
    transition: 0.3s;
  }
}

.fas.fa-circle.online {
  color: #6cad6c;
}

.fas.fa-circle.offline {
  color: #ce5e5e;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: var(--scrollbar-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
}
