@import url('https://fonts.googleapis.com/css?family=Lato');

html, body, #app, .chat {
  margin: 0;
  height: 100% !important;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  overflow-x: hidden;

  #app {
    overflow: hidden;

    .chat {
      overflow-x: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.navbar {
  width: 100%;
  height: 3.25rem;

  .navbar-item {
    width: calc(100% / 3);
  }

  .navbar-item:focus,
  .navbar-item:hover {
    background: none;
  }
}

.container {
  margin: 0;
  padding: 3.25rem 0;

  &.messages {
    padding-bottom: 1rem;
  }
}

.container.login,
.container.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container.settings section.section:first-child,
.container.contact-info section.section:first-child {
  padding: 1rem;
}

.title, .subtitle {
  word-break: inherit;
}

.checkbox:hover {
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  --webkit-overflow-scrolling: touch;

  li {
    height: 5.5rem;
    margin-bottom: 1px;
    cursor: pointer;
    padding: 0 10px;

    display: flex;
    align-items: center;

    .avatar, .chat-user-img {
      height: 4rem;
      width: 4rem;
      border-radius: 4rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 135%;
    }
  }
}

.settings div.current-user-img,
.contact-info section div.block.user-avatar-image {
  height: 15rem;
  width: 15rem;
  margin: 10px;
  border-radius: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 135%;
}

button {
  font-family: inherit !important;
}

*::-webkit-scrollbar {
  width: 1px;
  background-color: var(--scrollbar-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
}
