.contacts .notification {
  background: none;
  text-align: center;
  font-size: 1.2rem;
}

.contacts .message {
  background-color: #111114;
  border-radius: 4px;
  margin: 1rem;

  .message-body {
    border-color: #48a5a4;
    border-radius: 4px;
    border-style: solid;
    border-width: 0 0 0 4px;
    color: #cdcdcd;
    padding: 1.25em 1.5em;
  }
}

.container.contacts  ul li {
  .contact-data {
    margin-left: 12px;
    font-weight: bold;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      display: flex;

    &:last-child {
      color: gray;
      font-weight: normal;
    }

      span {
        font-size: 1.1rem;
      }

      i.fas.fa-circle {
        // font-size: 1rem;
        margin-left: 5px;
        font-size: 0.5rem;
      }

      i.fas.fa-user-friends {
        font-size: 1.2rem;
        margin-left: auto;
        padding: 0 1rem;
        color: dimgray;
      }
    }
  }
}
