.container.contacts  ul li {
  .user-name {
    margin-left: 12px;
    font-weight: bold;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      padding-bottom: 5px;
      font-size: 1.1rem;
    }

    .user-status {
      font-size: 1rem;
    }
  }
}
