.contacts > ul {
  overflow-y: scroll;
  --webkit-overflow-scrolling: touch;
}

.contacts li {
  height: var(--li-height);
  margin-bottom: 1px;
  padding: 0 10px;
  cursor: pointer;

  display: flex;
  align-items: center;

  .avatar {
    height: var(--li-avatar-size);
    width: var(--li-avatar-size);
    border-radius: var(--li-avatar-size);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 135%;
  }

  .user-name {
    margin-left: 12px;
    font-weight: bold;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      color: white;
      font-size: var(--li-name);
      padding-bottom: 5px;
    }

    .user-status {
      font-size: var(--li-status-txt);
      color: var(--gray-txt);
    }
  }
}
