.avatar-menu {
  display: flex;
  align-items: center;
  flex-direction: column;

  &:hover .menu-name{
    text-decoration: underline;
  }

  &.active .menu-name{
    text-decoration: underline;
  }

  .menu-name {
    padding: 10px;
    font-size: var(--settings-menu-name);
    cursor: pointer;

    display: flex;
    align-items: center;
  }

  .submenu-avatar {
    height: 0;
    overflow: hidden;
    transition: height 0.2s;
    z-index: -1;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.avatar-menu.active .submenu-avatar {
  height: 80px;
  width: 100%;
  z-index: 1;
  overflow: visible;

  .input-avatar {
    height: 40px;
    display: flex;
  }

  input[type="file"] {
    margin: 0;
    padding: 0;
  }

  button,
  label {
    display: flex;
    margin-bottom: 7px;
    font-size: var(--settings-menu-item);
    background-color: inherit;
    border: none;
    align-items: center;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
