.avatar-menu {
  display: flex;
  align-items: center;
  flex-direction: column;

  &:hover .menu-name{
    text-decoration: underline;
  }

  &.active .menu-name{
    text-decoration: underline;
  }

  .menu-name {
    padding: 10px 10px 5px;
    cursor: pointer;

    display: flex;
    align-items: center;
  }

  .submenu {
    height: 0;
    overflow: hidden;
    transition: height 0.2s;
    z-index: -1;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.avatar-menu.active .submenu {
  height: 65px;
  z-index: 1;
  overflow: visible;

  input[type="file"] {
    margin-top: 10px;
  }

  button,
  #file + label {
    display: flex;
    padding: 2px;
    font-size: 15px;
    background-color: inherit;
    border: none;
    align-items: center;
    margin: 5px 0 0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
