.settings-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;

  div {
    width: var(--header-footer-height);
    font-size: var(--header-btn);
    cursor: pointer;

    &.settings-btn-back {
      font-size: var(--btn-back-size);
    }
  }

  .title {
    font-size: 20px;
  }
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .info-wrapper-settings {
    overflow-y: scroll;
    --webkit-overflow-scrolling: touch;
  }

  .info {
    padding: 20px;
    background-color: var(--wrapper-bg);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    .current-user-img {
      height: 200px;
      width: 200px;
      margin-bottom: 10px;
      border-radius: 200px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 135%;
    }

    .data-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .name {
        font-weight: bold;
        font-size: var(--settings-name);
        margin-bottom: 5px;
      }

      .login {
        font-size: var(--settings-login);
        color: var(--gray-txt);
      }
    }
  }
}

.log-out {
  margin-top: 30px;
  padding: 17px;
  font-size: var(--profile-li-option);
  text-align: center;
  cursor: pointer;
  background-color: var(--wrapper-bg);

  &:hover {
    background-color: rgba(255,255,255,0.1);
    transition: 0.3s;
  }
}

.options {
  background-color: var(--wrapper-bg);

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: stretch;

  .input-menu {
    div {
      padding: 5px 5px 5px 15px;
      box-shadow: inset 0 -1px 0 0 #efefef12;

      display: flex;
      flex-direction: column;

      input[type="text"] {
        padding: 12px;
        background: none;
        font-size: var(--input-txt);
        color: var(--input-txt-color);
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .active .fas.fa-angle-down {
      transform: rotate(-180deg);
    }

    .fas.fa-angle-down {
      font-size: var(--icon-size);
      margin-left: 10px;
    }
  }
}

.input-avatar {
  cursor: pointer;
}
