.settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .info {
    padding: 25px 0 10px;
    background-color: var(--wrapper-bg);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 100px;
      width: 100px;
      margin: 10px;
      border-radius: 50px;
    }

    span {
      font-size: 14px;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .data-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .name {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 5px;
      }

      .login {
        font-size: 15px;
        margin-bottom: 20px;
      }
    }
  }
}

.log-out {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: var(--wrapper-bg);

  &:hover {
    background-color: rgba(255,255,255,0.1);
    transition: 0.3s;
  }
}

.options {
  background-color: var(--wrapper-bg);

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: stretch;

  .input-menu {
    div {
      padding: 5px 5px 5px 15px;
      box-shadow: inset 0 -1px 0 0 #efefef12;

      display: flex;
      flex-direction: column;

      input {
        background: none;
        font-size: 16px;
        color: white;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .active .fas.fa-angle-down {
      transform: rotate(-180deg);
    }

    .fas.fa-angle-down {
      font-size: 10px;
      margin-left: 10px;
    }
  }
}
