.content.registration {
  margin-top: 50px;
  font-weight: 600;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  .headline {
    margin-bottom: 10px;
  }

  input {
    margin-bottom: 10px;
    padding-left: 20px;
    color: white;
    border: none;
    border-radius: 20px;

    &.sign-up-avatar {
      background: none;
      margin-left: 63px;
      cursor: pointer;
    }
  }

  .sign-up-button {
    margin: 10px;
    padding: 5px 12px;
    font-size: 13px;
    color: white;
    cursor: pointer;
  }
}
