.purple .content.registration {
  background-color: #86466d;
}

.purple .content.registration input {
  background-color: #542944;
}

.purple .content.registration .sign-up-button {
  background-color: #502b42;
}
